VITE_PUBLIC_PATH="/"
VITE_SUPABASE_URL="https://abcdxyz.supabase.co/"
VITE_SUPABASE_PUBLISHABLE_DEFAULT_KEY="default-key"
VITE_API_BASE_URL="http://localhost:8080/"
VITE_PERSISTENCE_KEY="persistence-key"