GEMINI_API_KEY="YOUR_GEMINI_API_KEY"
GOOGLE_APPLICATION_CREDENTIALS='Credentials/YOUR_CREDENTIAL_FILE.JSON'


GMAIL_APP_PASSWORD='YOUR_GMAIL_APP_PASSWORD'
GMAIL='YOUR_GMAIL'

SUPABASE_URL="YOUR_SUPABASE_URL"
SUPABASE_KEY="YOUR_SUPABASE_KEY"

SERP_API_KEY="YOUR_SERAPI_KEY"